In [332]:
import pandas as pd
import numpy as np 
import matplotlib.pyplot as plt
%matplotlib inline

In [333]:
data_1_sheet_kmg = pd.read_excel(r"C:\Users\samen\datasheet1.xlsx",sheet_name="GS-KS-MS data sheet 1")

In [334]:
try:
    data_1_sheet_kmg.drop('Outlet tagging',axis=1,inplace=True)
except:
    pass

In [335]:
data_1_sheet_kmg=pd.DataFrame(data_1_sheet_kmg)

In [336]:
data_1_sheet_kmg.shape

(22193, 9)

# KPI BEGIN

In [337]:
data_1_sheet_kmg.fillna(0,inplace=True)
data_1_sheet_kmg

,customer,re,stockist_code,city,mth,sales_value,uniq_npg,qty,invoices
0,C001176984,MS,16173675,TRIVANDRUM,8,0.00,0,1.0,1
1,C000531094,KS,16326412,TRIVANDRUM,9,0.00,29,0.0,29
2,C000531094,KS,16326412,TRIVANDRUM,10,4803.66,26,125.0,50
3,C000531122,MS,16326412,TRIVANDRUM,2,2265.53,21,68.0,23
4,C000531760,GS,16326412,TRIVANDRUM,1,6294.47,21,177.0,21
...,...,...,...,...,...,...,...,...,...
22188,C000531717,GS,16326412,TRIVANDRUM,12,9127.63,19,200.0,26
22189,C000531498,MS,16326412,TRIVANDRUM,12,2812.46,19,102.0,19
22190,C001774693,MS,16326412,TRIVANDRUM,12,2956.95,19,97.0,19
22191,C002285711,KS,16328458,TRISSUR,1,4269.02,19,105.0,19
22192,C000721341,KS,16328641,TRIVANDRUM,12,6392.54,19,187.0,21

In [379]:
city_category = list(data_1_sheet_kmg['city'].unique())
city_category
len_city_category = len(city_category)

In [380]:
len_customer = len(data_1_sheet_kmg['customer'].unique())

In [381]:
city_category

['TRIVANDRUM', 'TRISSUR']

In [382]:
re = list(data_1_sheet_kmg['re'].unique())

In [383]:
re

['MS', 'KS', 'GS']

In [384]:
i=0
count=0
name="dataframe_new"

In [385]:
d={}

In [386]:
#city_category = ['TRIVANDRUM']
#re = ['MS']

In [387]:
#kpi=pd.DataFrame()

In [388]:
#df.loc[(df['a'] == 1) & (df['c'] == 2), 'b'].sum()

In [389]:
for c in city_category:
    sheet_1_tvm = data_1_sheet_kmg[data_1_sheet_kmg['city']==c]
    for i in range(len(re)):
        print("re=" + re[i]+ str(' running'))
        
        tvm_ks = sheet_1_tvm[sheet_1_tvm['re']==re[i]]
        tvm_ks_customer = list(tvm_ks['customer'].unique())
        month_cat = list(tvm_ks['mth'].unique())
        sum_df = []
        sum_ppg=[]
        call_sum = []
        cat = []
        #print(tvm_ks['mth'])
        #mth=[]
        m=[]
        m_df = pd.DataFrame(columns=month_cat)
        
        for k in tvm_ks_customer:
            sum_df.append(int(round(tvm_ks.loc[tvm_ks['customer']==k,'sales_value'].sum())))
            sum_ppg.append(tvm_ks.loc[tvm_ks['customer']==k,'uniq_npg'].sum())
            call_sum.append(tvm_ks.loc[tvm_ks['customer']==k,'invoices'].sum())
            for mt in month_cat:
                mth=tvm_ks.loc[(tvm_ks['mth']==mt) &(tvm_ks['customer']==k),'sales_value'].sum()
                #m["{}".format(mt)]=mth
                m.append(mth)
            m=pd.Series(m,index=m_df.columns)
            m_df = m_df.append(m,ignore_index=True)
            m=[]
            month_cat = list(tvm_ks['mth'].unique())
            #m_sum_t = 
            
                
                #print(mth)
                #quit()
                
        tvm_ks_final = pd.DataFrame()
        #print(c)
        tvm_ks_final['customer'] = tvm_ks_customer
        city = [str(c) for i in range(tvm_ks_final.shape[0])]
        tvm_ks_final['City'] = city
        
        tvm_ks_final['sum_of_sales_value'] = sum_df
        print("here")
        print(i)
        tvm_ks_final['re'] = str(re[i])
        sum_ppg = [round(x/7,2) for x in sum_ppg ]
        tvm_ks_final['Total unique PPGs/7'] = sum_ppg
        call_sum = [round(x/7,2) for x in call_sum]
        tvm_ks_final['Total no. of calls/7'] = call_sum
        tvm_ks_final['Percentile_rank']=round(tvm_ks_final['sum_of_sales_value'].rank(pct=True),2)
        #tvm_ks_final['months']=mth
        new_list = tvm_ks_final['Percentile_rank'].to_list()
        for x in new_list:
            if x<=0.3:
                cat.append('low')
            elif x>0.3 and x<0.7:
                cat.append('medium')
            else:
                cat.append('high')

        tvm_ks_final['category'] = cat
        tvm_ks_final = pd.concat([tvm_ks_final,m_df],axis=1)
        d["{}_{}".format(c,re[i])]=pd.DataFrame(tvm_ks_final)
        count+=1
        d["{}_{}".format(c,re[i])].fillna(0,inplace=True)
        
        #pd.concat([df3, df4], axis='col')
        
        
        
    
    #pd.DataFrame(tvm_ks_final)

re=MS running
here
0
re=KS running
here
1
re=GS running
here
2
re=MS running
here
0
re=KS running
here
1
re=GS running
here
2

In [131]:
#month_cat = list(tvm_ks['mth'].unique())

In [390]:
month_cat

[8, 12, 9, 1, 2, 11, 10]

In [391]:
#tvm_ks_final

In [392]:
keys_final= []
print("The Keys Are :- ")
print("use d[keyname to pick up  a dataframe]")
print("      ")
for key in d.keys():
    keys_final.append(key)
    print(key)

The Keys Are :-
use d[keyname to pick up  a dataframe]

TRIVANDRUM_MS
TRIVANDRUM_KS
TRIVANDRUM_GS
TRISSUR_MS
TRISSUR_KS
TRISSUR_GS

In [393]:
keys_final

['TRIVANDRUM_MS',
 'TRIVANDRUM_KS',
 'TRIVANDRUM_GS',
 'TRISSUR_MS',
 'TRISSUR_KS',
 'TRISSUR_GS']

# KPI + MONTH DONE

# MONTH DICT + JOINING OF OUTLET TAGGING

In [395]:
month_dict = {8:'aug',
              9:'sep',
              10:'oct',
              11:'nov',
              12:'dec',
              1:'jan',
              2:'feb',
              3:'mar',
              4:'april',
              5:'may',
              6:'jun',
              7:'july'
}

In [396]:
month_dict[8]

'aug'

In [397]:
k_d = d['TRIVANDRUM_KS'][['customer','category']]

In [398]:
cat_sheet =pd.DataFrame() #category of unique values !

In [399]:
for di in keys_final:
    new = d[di][['customer','category']]
    cat_sheet = cat_sheet.append(new)

In [400]:
cat_sheet.shape[0]==len(data_1_sheet_kmg['customer'].unique()) #testing shapes of unqiue value !

True

In [401]:
#area_dict = dict(zip(lakes.area, lakes.count))
#gapminder_df['pop']= gapminder_df['continent'].map(pop_dict)

In [402]:
cat_dict  = dict(zip(cat_sheet['customer'],cat_sheet['category'])) #creating Dict for values to apply to main dataset !

In [403]:
data_1_sheet_kmg['category'] = data_1_sheet_kmg['customer'].map(cat_dict)

In [404]:
data_1_sheet_kmg

,customer,re,stockist_code,city,mth,sales_value,uniq_npg,qty,invoices,category
0,C001176984,MS,16173675,TRIVANDRUM,8,0.00,0,1.0,1,low
1,C000531094,KS,16326412,TRIVANDRUM,9,0.00,29,0.0,29,high
2,C000531094,KS,16326412,TRIVANDRUM,10,4803.66,26,125.0,50,high
3,C000531122,MS,16326412,TRIVANDRUM,2,2265.53,21,68.0,23,high
4,C000531760,GS,16326412,TRIVANDRUM,1,6294.47,21,177.0,21,high
...,...,...,...,...,...,...,...,...,...,...
22188,C000531717,GS,16326412,TRIVANDRUM,12,9127.63,19,200.0,26,high
22189,C000531498,MS,16326412,TRIVANDRUM,12,2812.46,19,102.0,19,high
22190,C001774693,MS,16326412,TRIVANDRUM,12,2956.95,19,97.0,19,high
22191,C002285711,KS,16328458,TRISSUR,1,4269.02,19,105.0,19,high
22192,C000721341,KS,16328641,TRIVANDRUM,12,6392.54,19,187.0,21,high

# DIct and Adding Category Complete !

# Creating Final Set for DataSheet1

In [405]:
based_on = ['no of outlets','avg sale value per retailer','median sale value per outlet','avg npgs per retailer','median npgs per outlet','avg no of calls per outlet','median no of calls per outlet']

In [406]:
re

['MS', 'KS', 'GS']

In [407]:
rows =[]
new_1 = []
final_df_1  = pd.DataFrame()

No of Outlets

In [408]:
for x in re:
    column1='no of outlets'
    columns = [month_dict[m] for m in month_cat]
    new_1.append(str(x)+"_"+'low')
    new_1.append(str(x)+"_"+'mid')
    new_1.append(str(x)+"_"+'high')
    new_1.append(str(x)+"_"+'overall')
    rows.append(new_1)
    new_1=[]
rows = [item for sublist in rows for item in sublist] #flattening the list of list
#df.insert(0,'name_of_column',value)   
final_df_1 = pd.DataFrame(columns = columns)
final_df_1.insert(0,column1,rows)

In [461]:
rows

['MS_low',
 'MS_mid',
 'MS_high',
 'MS_overall',
 'KS_low',
 'KS_mid',
 'KS_high',
 'KS_overall',
 'GS_low',
 'GS_mid',
 'GS_high',
 'GS_overall']

In [410]:
call_sum.append(tvm_ks.loc[tvm_ks['customer']==k,'invoices'].sum())

In [411]:
for m in month_cat:
    d['TRIVANDRUM_MS'][m]

In [439]:
test = d['TRIVANDRUM_MS'].loc[d['TRIVANDRUM_MS']['category']=='low']

In [449]:
len_ = len(test.loc[test[8]==0]) #finidng unadded values

In [479]:
nval = test[8].sum()/(test.shape[0]-len_)

In [484]:
final_df_1['aug'][0]=nval

c:\users\samen\appdata\local\programs\python\python37\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [477]:
final_df_1.fillna(0,inplace=True)